.feynman__link {
  right: 48px;
  position: absolute;
  top: 50%;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none;
}

.feynman__link:hover {
  opacity: 0.4;
  transition: 0.5s;
}