.section-subtitle {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 0;
  }