.video {
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: -200px;
    position: relative;
    bottom: -60px;
    margin-top: -60px;

  }