.kaufman__triangle {
  position: absolute;
  width: 877px;
  height: 877px;
  background-size: cover;
  right: -210px;
  top: 0;
  background-image: url('../../../images/kaufman-triangle.svg');
  animation: rotation 20s linear infinite;
  
} 

